<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="css/style.css">

</head>

<style>



</style>

<body>

	<main id="content" class="container" ng-controller="mainController">

		<h1 class="text-center">iAuto</h1>

		<div class="step-form">

			<section id="new-or-used" class="col-xs-12">

				<h4>First things first...</h1>

				<div class="row">
					<div class="col-xs-6">
						<a class="image-button box" ng-click="nextStep($event); selected.new_car = 1">
							<label>I want to buy new.</label>
						</a>
					</div>

					<div class="col-xs-6">
						<a class="image-button box" ng-click="nextStep($event); selected.new_car = 0">
							<label>I want to buy pre-owned</label>
						</a>
					</div>
				</div>
			</section>

			<section id="budget-and-type" class="col-xs-12">
				<h4>Next, let's check just a few things.</h4>

				<div class="row">
					<div class="col-xs-8">
						<div class="box">
							<h5>Location, Zip</h5>
						</div>
					</div>
					<div class="col-xs-4">
						<div class="box">
							<h5>Budget</h5>

							<input type="number" class="form-control" ng-model="selected.price_min">
							<input type="number"  class="form-control" ng-model="selected.price_max">						
						</div>
					</div>
				</div>

				<br>

				<div class="row">
					<div class="col-xs-12">
						<div class="box text-center">
							<h5>Type of Car</h5>

							 <button href="#" class="" ng-repeat="x in car.types" 
							 		ng-click="selected.type = x">{{x}}</button>

						</div>
					</div>
				</div>

				<br>

				<div class="col-xs-12">
					<button class="btn btn-info" ng-click="prevStep($event)">Back</button>	
					<button class="btn btn-info" ng-click="nextStep($event)">Next</button>
				</div>

			</section>		

			<section id="features">
				<h4>Finally, let's make this a little personal...</h4>

				<div class="row">
					<div class="col-xs-3">
						<a class="image-button box" 
							ng-click="selected.preference = 'comfort'; tComfort = !tComfort" 
							ng-class="{'active' : toggle}">
							Comfort
						</a>
					</div>
					<div class="col-xs-1">
					</div>
					<div class="col-xs-3">
						<a class="image-button box" ng-click="selected.preference = 'performance'; tPerformance = !tPerformance">
							Performance
						</a>
					</div>
					<div class="col-xs-1">
					</div>
					<div class="col-xs-3">
						<a class="image-button box" ng-click="selected.preference = 'eco'; tEco = !tEco">
							Eco
						</a>
					</div>
				</div>

				<br>

				<div class="row">
					<div class="box">
						<div class="col-xs-9">
							<div class="col-xs-3">
								<p>Selected Features:</p>
								<ul>
									<li ng-repeat="x in features" >{{x}}</li>
			 					</ul>
							</div>
							<div class="col-xs-3">
								<ul>
									<li><a href="" ng-click="features.push('Cruise Control')">Cruise Control</a></li>
									<li><a href="" ng-click="features.push('3rd Row Seats')">3rd Row Seats</a></li>
									<li><a href="" ng-click="features.push('Backup Camera')">Backup Camera</a></li>
									<li><a href="" ng-click="features.push('Multizone Climate')">Multizone Climate</a></li>
									<li><a href="" ng-click="features.push('Rear seat entertainment')">Rear seat entertainment</a></li>
								</ul>
							</div>
							<div class="col-xs-3">
								<ul>
									<li><a href="" ng-click="features.push('Navigation')">Navigation</a></li>
									<li><a href="" ng-click="features.push('Bluetooth')">Bluetooth</a></li>
									<li><a href="" ng-click="features.push('Heated Seats')">Heated Seats</a></li>
									<li><a href="" ng-click="features.push('Leather Seats')">Leather Seats</a></li>
									<li><a href="" ng-click="features.push('Sunroof')">Sunroof</a></li>		
								</ul>					
							</div>
							<div class="col-xs-3">
								<ul>
									<li><a href="" ng-click="features.push('Power Drivers seat')">Power Drivers seat</a></li>
									<li><a href="" ng-click="features.push('Heated Steering Wheel')">Heated Steering Wheel</a></li>
									<li><a href="" ng-click="features.push('Remote Start')">Remote Start</a></li>
									<li><a href="" ng-click="features.push('Premium Audio')">Premium Audio</a></li>
								</ul>							
							</div>
						</div>
						<div class="col-xs-3">
							<select class="form-control" 
								ng-model="selected.color" ng-options="x for x in car.colors">
							</select>
							<select class="form-control" 
								ng-model="selected.transmission" ng-options="x for x in car.transmissions">
							</select>
							<!-- 
							<select class="form-control" 
								ng-model="selected.drivetrain" ng-options="x for x in car.drivetrains">
							</select> -->
							<select class="form-control" 
								ng-model="selected.engine" ng-options="x for x in car.engines">
							</select>
						</div>
					</div>

				</div>

				<br>

				<button class="btn btn-info" ng-click="prevStep($event)">Back</button>	
				<button class="btn btn-info" ng-click="nextStep($event)">Next</button>
			</section>

			<section id="results">
				<h4>These are your best matches!</h4>

				<div class="col-xs-12">
					<div class="box">
						<div class="col-xs-4">
							<label>2016 Civic</label>
							<img src="images/Honda.png">
							<button class="btn white">Details</button>
							<button class="btn orange">Schedule Test Drive</button>
						</div>
						<div class="col-xs-4">
							<label>2016 Corolla</label>
							<img src="images/Toyota.png">
							<button class="btn white">Details</button>
							<button class="btn orange">Schedule Test Drive</button>
						</div>
						<div class="col-xs-4">
							<label>2016 Sentra</label>
							<img src="images/Nissan.png">
							<button class="btn white">Details</button>
							<button class="btn orange">Schedule Test Drive</button>
						</div>
					</div>
				</div>

				<br>
				<br>
<!-- 
				<div class="primary-result">
					<pre>{{ results | json : spacing }}</pre>
				</div> -->

				<div class="col-xs-12">
					<button class="btn btn-info" ng-click="prevStep($event)">Back</button>	
					<button class="btn btn-info" ng-click="resetForm($event)">Start Over</button>
				</div>

			</section>
		</div>

	</main>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>	
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.4.8/angular-route.js"></script> 
	<script src="js/app.js"></script>

</body>
</html>