<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">

</head>

<style>

section { padding-top: 10px; padding-bottom: 30px; display: none;}
section:first-child {display: block;}

</style>

<body>

	<main id="content" class="container" ng-controller="mainController">

		<section>
			<h1>i@uto</h1>
			<button class="btn btn-info" ng-click="nextStep($event)">I want a new car</button>
			<button class="btn btn-info" ng-click="nextStep($event)">I want a used car</button>


			<button class="btn btn-info" ng-click="testAPI($event)">Test API</button>
		</section>

		<section>
			<h1>What is your budget?</h1>
			<input type="number" ng-model="selected.price_min"> to <input type="number" ng-model="selected.price_max">

			<div class="col-xs-12">
				<button class="btn btn-info" 
					ng-click="nextStep($event); selected.preference = 'comfort'">Comfort</button>
				<button class="btn btn-info" 
					ng-click="nextStep($event); selected.preference = 'performance'">Performance</button>
				<button class="btn btn-info" 
					ng-click="nextStep($event); selected.preference = 'eco'">Eco</button>
			</div>	

			<div class="col-xs-12">
				<button class="btn btn-info" ng-click="prevStep($event)">Back</button>	
			</div>

		</section>		

		<section>
			<h1>What type of vehicle are you looking for?</h1>

			<div class="list-group">
			 	<a href="#" class="list-group-item" ng-repeat="x in car.types" 
			 		ng-click="nextStep($event); selected.type = x">{{x}}</a>
			</div>	

			<button class="btn btn-info" ng-click="prevStep($event)">Back</button>			
		</section>

		<section>
			<h1>What are your most important features?</h1>

			<label>Most Important</label>
			<select class="form-control" 
				ng-model="selected.feature1" ng-options="x for x in car.features">
			</select>

			<label>2nd Most</label>
			<select class="form-control" 
				ng-model="selected.feature2" ng-options="x for x in car.features">
			</select>

			<label>3rd Most</label>
			<select class="form-control" 
				ng-model="selected.feature3" ng-options="x for x in car.features">
			</select>

			<button class="btn btn-info" ng-click="prevStep($event)">Back</button>	
			<button class="btn btn-info" ng-click="nextStep($event)">Next</button>
		</section>


		<section>
			<h1>Specifics</h1>

			<label>Color</label>
			<select class="form-control" 
				ng-model="selected.color" ng-options="x for x in car.colors">
			</select>

			<label>Transmission</label>
			<select class="form-control" 
				ng-model="selected.transmission" ng-options="x for x in car.transmissions">
			</select>

			<label>Drivetrain</label>
			<select class="form-control" 
				ng-model="selected.drivetrain" ng-options="x for x in car.drivetrains">
			</select>

			<label>Engine</label>
			<select class="form-control" 
				ng-model="selected.engine" ng-options="x for x in car.engines">
			</select>

			<button class="btn btn-info" ng-click="prevStep($event)">Back</button>	
			<button class="btn btn-info" ng-click="nextStep($event)">Get Results</button>

		</section>

		<section id="results">
			<h1>Results</h1>

			<div class="primary-result">
				First Result
			</div>
			<div class="secondary-result">
				Second Result
			</div>
			<div class="secondary-result">
				Third Result
			</div>

			<button class="btn btn-info" ng-click="prevStep($event)">Back</button>	
			<button class="btn btn-info" ng-click="resetForm($event)">Start Over</button>
		</section>

	</main>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>	
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.4.8/angular-route.js"></script> 
	<script src="js/app.js"></script>

</body>
</html>