section { padding-top: 10px; padding-bottom: 30px; display: none;}
section:first-child {display: block;}

.box {
	padding: 10px;
	background: #e0e0e0;
	border-radius: 5px;
	display:block;
	float: left;
	width: 100%;
	min-height: 140px;
}

.box h5 {
	text-align: center;
}

.image-button {
	height: 200px;
	width: 100%;
	display: block;
	padding: 20px 20px 40px;
	cursor: pointer;
	border: 3px solid transparent;
}

.image-button label {
	position: relative;
	top: 120px;
	text-align: center;
	width: 100%;
	background: #333;
	color: #fff;
	padding: 5px;
	border-radius: 5px;
}

.image-button .active {
	border-color: orange;
}

#features .image-button {
	height: 120px;
}

#features ul {
	padding: 0;
}

#features li {
	list-style: none;
	
}

#results .box label {
	position: relative;
	top: 40px;
	left: 20px;
	font-size: 16px;
	color: #fff;
}

#results .box img {
	margin-bottom: 10px;
}

#results button.white {
	text-align: left;
	color: #777;
	background: #fff;
}

#results button.orange {
	color: #fff;
	text-align: center;
	background: orange;
}